@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* nice form style inspiration
https://codepen.io/icorrea/pen/GNGyXv */
.App {
  text-align: center;
}
html {
  background-repeat: no-repeat;
  background: hsla(266, 96%, 10%, 1);
  /* background: hsla(266, 96%, 10%, 1);

  background: linear-gradient(315deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 13%, hsla(288, 78%, 12%, 1) 52%, hsla(259, 96%, 10%, 1) 100%);
  
  background: -moz-linear-gradient(315deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 13%, hsla(288, 78%, 12%, 1) 52%, hsla(259, 96%, 10%, 1) 100%);
  
  background: -webkit-linear-gradient(315deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 13%, hsla(288, 78%, 12%, 1) 52%, hsla(259, 96%, 10%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#160132", endColorstr="#A51874", GradientType=1 ); */
  
}
body {
  color: white;
  min-height: 100vh !important;


  /* margin: 20px; */
  font-family: "Poppins";
  background: hsla(266, 96%, 10%, 1);

  background: linear-gradient(315deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 13%, hsla(288, 78%, 12%, 1) 52%, hsla(259, 96%, 10%, 1) 100%);
  
  background: -moz-linear-gradient(315deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 13%, hsla(288, 78%, 12%, 1) 52%, hsla(259, 96%, 10%, 1) 100%);
  
  background: -webkit-linear-gradient(315deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 13%, hsla(288, 78%, 12%, 1) 52%, hsla(259, 96%, 10%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#160132", endColorstr="#A51874", GradientType=1 );



  /* background: hsla(266, 96%, 10%, 1);

background: linear-gradient(315deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 13%, hsla(288, 78%, 12%, 1) 77%, hsla(259, 96%, 10%, 1) 100%);

background: -moz-linear-gradient(315deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 13%, hsla(288, 78%, 12%, 1) 77%, hsla(259, 96%, 10%, 1) 100%);

background: -webkit-linear-gradient(315deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 13%, hsla(288, 78%, 12%, 1) 77%, hsla(259, 96%, 10%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#160132", endColorstr="#A51874", GradientType=1 ); */

  /* background: hsla(266, 96%, 10%, 1);

background: linear-gradient(102deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 23%, hsla(288, 78%, 12%, 1) 77%, hsla(259, 96%, 10%, 1) 100%);

background: -moz-linear-gradient(102deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 23%, hsla(288, 78%, 12%, 1) 77%, hsla(259, 96%, 10%, 1) 100%);

background: -webkit-linear-gradient(102deg, hsla(266, 96%, 10%, 1) 0%, hsla(321, 75%, 37%, 1) 23%, hsla(288, 78%, 12%, 1) 77%, hsla(259, 96%, 10%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#160132", endColorstr="#A51874", GradientType=1 ); */
  /* background: #870d6d;

  background: hsla(266, 96%, 10%, 1);

background: linear-gradient(90deg, hsla(266, 96%, 10%, 1) 0%, hsla(304, 58%, 26%, 1) 50%, hsla(288, 78%, 12%, 1) 91%, hsla(259, 96%, 10%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(266, 96%, 10%, 1) 0%, hsla(304, 58%, 26%, 1) 50%, hsla(288, 78%, 12%, 1) 91%, hsla(259, 96%, 10%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(266, 96%, 10%, 1) 0%, hsla(304, 58%, 26%, 1) 50%, hsla(288, 78%, 12%, 1) 91%, hsla(259, 96%, 10%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#160132", endColorstr="#6A1C65", GradientType=1 ); */

  /* bgcolor palette /https://coolors.co/160132-601a5b-2e0738-100130 */
  /* background-image: url("C:\Users\ebaiden\Projects\personal\hotelbuddyfinder\public\dallebg.png"); */
  /* background-attachment: fixed;
  background-size: cover; */
}
nav, main {
  font-family: 'Montserrat', sans-serif;
}

.glow {
  color:white;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


main h1 {
  font-size:4.5rem ;
}

nav a {
  color: white;
  text-decoration: none;
}
/* nav ul, li {
  padding: 0;
  list-style-type: none;
} */
h1,h2,h3 {
  /* color: #394447 */
}
p {
  /* color: #828b8a; */
  /* color: #3C474A */
}

header {
    /* max-width: 1200px; */
    /* padding:  40px; */
    padding: 1.5rem;
    margin: 0px 0px 40px 0px;
    background-color: #85006a82;
    /* margin: 40px auto; 40px top and bottom */
    /* border-bottom: 1px solid #bbc7c7; */
    border-bottom: 1px solid #b01390;
}



.profiles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  margin: 20px auto;

}

.profile-input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  margin: 20px auto; 
}

.matched-inputs,
.profile-input  input, select {
  padding:20px;
  width: -webkit-fill-available;
  /* margin: 20px; */
  /* width: 100%; */
  background: #d8c1d2;

  padding: 5px 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 0px #6b2758;
  
}

.hero-form-container {
padding: 20px;

margin: 49px 102px;
    background: #ffffff29;
    border-radius: 10px;
}


h5{
  margin: auto;
}

.form-btn{
  width: 100%;
  padding: 1%;
  background-color: rgb(255, 196, 0); 
  border-radius: 9999px;
  border: none;
}

.successSubmission {
  text-align: center;
width:300px;
padding: 20px 10px;
        /* padding: 5px 10px; */
        /* height: 40px; */
        border-radius: 5px;
        border: none;
        background: #77bd7d;
        box-shadow: 0 3px 0px #4d8351;
}

button {
  cursor: pointer;
}

.close {
  padding: 0 5px;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: tomato ;
  border: 1px solid tomato;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}



.contact_grid {
  grid-column: 1 / 4;
}

.contact_style {
      grid-template-columns: 1fr 1fr;
      display: grid;
      gap: 20px;
}

.ul-list, .social-list {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.ul-list li {
  display: inline-block;
  /* padding: 20px; */
  padding: 2rem;
}

.social-list li {
  display: inline-block;
  padding: 5px;
}



.profile-card
{
  margin: 20px
}

.isMatched {
  opacity: .4;
  filter: grayscale(var(--value, 67%));
}

.almostMatched {
  opacity: .75;
  filter: grayscale(var(--value, 67%));
}

.about-content {
  font-size: 1.5rem;
}

.warning {
  font-size: 2rem;
  color: red;
}
.match-form {
  display: inline-flex;
}
.match-instructions {
  list-style: auto;
  padding: 0 20%;
  text-align: initial;
}

.match-btn {
  padding: 20%;
    background-color: rgb(255, 196, 0);
    border-radius: 10px;
    border: none;

    position: relative;

    top: 2rem;
}



@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


@media only screen and (max-width: 1050px) {

  /* .contact_grid {
    grid-column: none;
  } */

  .profiles-container {
grid-template-columns: 1fr 1fr;
}

.hero-form-container {
  margin: 49px 56px;
}

.profile-input {
  grid-template-columns: 1fr 1fr;
}

.contact_style {
      grid-template-columns: unset;
  
}
}

@media only screen and (max-width: 890px) {

  .contact_grid {
    grid-column: unset;
  }

}

@media only screen and (max-width: 650px) {

  .profiles-container {
grid-template-columns: 1fr;
}

.hero-form-container {
  margin: 49px 56px;
}

.profile-input {
  grid-template-columns: 1fr ;
}

.match-form {
  display: unset;
}

.match-btn {
  padding: 5%;
    width: 100%;
    position: unset;
}

}
